@inherits AppComponentBase
@namespace BlazorHybrid.Core.Device
@page "/"
@*<Responsive OnBreakPointChanged="OnBreakPointChanged" />*@

<div class="row">
    <div class="col-12 col-m-6 col-sm-6">

        <Tab IsLazyLoadTabItem>
            <TabItem Text="打印">
                @{
                    var isDisabled = !IsConnected && Devices == null;
                }
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="名称" class="border-primary" />
                    <BootstrapInput TValue="string" Color="Color.Primary" @bind-Value="Option.NameFilter" style="max-width: 80px;" />
                    <Select TValue="string" Color="Color.Primary" Items="PrinterDemoList" OnSelectedItemChanged="OnPrinterSelect" style="max-width: 100px; " />
                    <Button Text="Esc" Size="Size.Small" OnClick="SendDataAsyncESC" IsDisabled="@isDisabled" />
                    <Button Text="Cpcl" Size="Size.Small"  OnClick="SendDataAsyncCPCLBarcode" IsDisabled="@isDisabled" />
                    <Button Text="票" Size="Size.Small" OnClick="SendDataAsyncCPCL" IsDisabled="@isDisabled" />
                </BootstrapInputGroup>

                <BootstrapInputGroup class="m-1">
                    @*<Button Text="返回" OnClick="BackToHome" />*@
                    <Button Text="扫描" @attributes=IsScanningCss OnClick="ScanDevice" />
                    <Button Text="连接" OnClick="OnDeviceSelect" IsDisabled="@(Devices == null)" />
                    <Button Text="断开" OnClick="OnDisConnectDevice" IsDisabled="@(Devices == null)" />
                    <Button Text="清空" OnClick="OnReset" />
                </BootstrapInputGroup>
                <BootstrapInputGroup class="m-1">
                    <Button Text="连接上次设备" OnClick="(async()=>await SendDataAsyncCPCLBarcode(BleInfo))" IsDisabled="@(BleInfo.DeviceID == Guid.Empty)" />
                    <Button Text="打印" OnClick="SendDataAsyncCPCLBarcode" IsDisabled="@(Characteristics == null)" />
                    <Button Text="写入" OnClick="ReadDeviceName" IsDisabled="@(Characteristics == null)" />
                    <Button Text="读取" OnClick="ReadDeviceName" IsDisabled="@(Characteristics == null)" />
                </BootstrapInputGroup>

                @if (Devices != null)
                {

                    <div class="row mt-1 g-3">
                        <div class="col-12 col-m-6 col-sm-6">
                            <Select TValue="Guid" Items="DeviceList" OnSelectedItemChanged="OnDeviceSelect" />
                        </div>
                        @if (Services != null)
                        {
                            <div class="col-12 col-m-6 col-sm-6">
                                <Select TValue="Guid" Items="ServiceidList" OnSelectedItemChanged="OnServiceidSelect" />
                            </div>
                            @if (Characteristics != null)
                            {
                                <div class="col-12 col-m-6 col-sm-6">
                                    <Select TValue="Guid" Items="CharacteristicList" OnSelectedItemChanged="OnCharacteristSelect" />
                                </div>
                                @if (ReadResult != null)
                                {
                                    <div class="col-12 col-m-6 col-sm-6">
                                        <Display TValue="string" Value="@ReadResult" />
                                    </div>
                                }
                            }
                        }
                    </div>

                    <Table @ref="Table" TItem="BleDevice" Items='Devices.Where(a=>a.ServicesRemark !="isNotPrinter")'
                           ShowDetailRow='(e)=>!(string.IsNullOrEmpty(e.ServicesRemark) && e.ServicesRemark !="-")'
                           OnDoubleClickRowCallback="OnDoubleClickRowCallback()!"
                           AllowResizing AllowDragColumn
                           TableSize="TableSize.Compact"
                           RenderMode="TableRenderMode.Table">
                        <TableColumns>
                            <TableColumn @bind-Field="@context.Name" Text="名称" Width="100">
                                <Template Context="v">
                                    <div>
                                        @{
                                            var device = (BleDevice)v.Row;
                                        }
                                        <div><b>@v.Value</b> <i>(@device.Id.ToString().Replace("00000000-0000-0000-0000-", ""))</i></div>
                                        <div>@device.Remark</div>
                                        <div>@device.ServicesRemark</div>
                                    </div>
                                </Template>
                            </TableColumn>
                            <TableColumn @bind-Field="@context.Rssi" Text="操作" Width="50">
                                <Template Context="v">
                                    <div>
                                        @{
                                            var device = (BleDevice)v.Row;
                                        }
                                        <div>@device.Rssi</div>
                                        @if (device.ServicesRemark != null && device.ServicesRemark.Contains("打印服务"))
                                        {
                                            var serID = device.Services.FirstOrDefault(a => a.Name == "打印服务")?.Id;

                                            if (serID != null)
                                            {
                                                <div>
                                                    <Button Color="Color.Primary" Text="Test" Size="Size.ExtraSmall"
                                                            OnClickWithoutRender="()=> SendDataAsyncCPCLBarcode(device.Name,device.Id,serID.Value) " />
                                                </div>
                                            }

                                        }
                                    </div>
                                </Template>
                            </TableColumn>
                        </TableColumns>
                        <DetailRowTemplate>
                            <Table TItem="BleService" Items="@context.Services" ShowDetailRow="ShowDetailRow"
                                   OnDoubleClickRowCallback="OnDoubleClickRowCallback2()!"
                                   IsAccordion AllowResizing AllowDragColumn
                                   TableSize="TableSize.Compact"
                                   RenderMode="TableRenderMode.Table">
                                <TableColumns Context="service">
                                    <TableColumn @bind-Field="@service.Name" Text="名称" Width="100" />
                                    <TableColumn @bind-Field="@service.Id" Text="操作">
                                        <Template Context="v">
                                            @if (((BleService)v.Row).Characteristics.Where(a => a.CanWrite).Any())
                                            {
                                                <Button Color="Color.Primary" Text="Test" Size="Size.ExtraSmall" IsDisabled="@(!((BleService) v.Row).Characteristics.Where(a=>a.CanWrite).Any())"
                                                        OnClickWithoutRender="()=> SendDataAsyncCPCLBarcode(context.Name,context.Id,v.Value) " />

                                            }
                                        </Template>
                                    </TableColumn>
                                    <TableColumn @bind-Field="@service.Remark" Text="备注" Width="100" />
                                    <TableColumn @bind-Field="@service.Id" Text="ID" />
                                </TableColumns>
                                <DetailRowTemplate Context="service">
                                    <Table TItem="BleCharacteristic" Items="@service.Characteristics"
                                           AllowResizing AllowDragColumn
                                           TableSize="TableSize.Compact"
                                           RenderMode="TableRenderMode.Table">
                                        <TableColumns Context="characteristic">
                                            <TableColumn @bind-Field="@characteristic.Name" Text="名称" Width="100" />
                                            <TableColumn @bind-Field="@characteristic.Id" Text="操作">
                                                <Template Context="v">
                                                    @if (((BleCharacteristic)v.Row).CanWrite)
                                                    {
                                                        <Button Color="Color.Primary" Text="Test" Size="Size.ExtraSmall" IsDisabled="@(!((BleCharacteristic) v.Row).CanWrite)"
                                                                OnClickWithoutRender="()=>SendDataAsyncCPCLBarcode(new BleTagDevice(context.Name,context.Id,service.Id,v.Value))" />
                                                    }
                                                </Template>
                                            </TableColumn>
                                            <TableColumn @bind-Field="@characteristic.CanRead" Text="读" Width="50" />
                                            <TableColumn @bind-Field="@characteristic.CanWrite" Text="写" Width="50" />
                                            <TableColumn @bind-Field="@characteristic.CanUpdate" Text="通知" Width="50" />
                                            <TableColumn @bind-Field="@characteristic.StringValue" Text="值" />
                                            <TableColumn @bind-Field="@characteristic.Id" Text="ID" />
                                        </TableColumns>
                                    </Table>
                                </DetailRowTemplate>
                            </Table>
                        </DetailRowTemplate>
                    </Table>

                }

            </TabItem>
            <TabItem Text="设置">
                <div class="my-2">
                    <Button Text="测试" OnClick="SendDataAsyncCPCLTest" IsDisabled="@(!IsConnected)" />
                    <Button Icon="fa-solid fa-floppy-disk" Text="保存" class="ms-2" OnClick="SaveConfigOK" />
                    <PopConfirmButton Icon="fa-solid fas fa-clock-rotate-left" Size="Size.Small" Text="复位" class="ms-2" OnConfirm="()=>ResetConfig()" Color="Color.Warning" Content="确定复位设置吗？" />
                    <PopConfirmButton Size="Size.Small" Text="细" OnConfirm="()=>ResetConfig(1)" Color="Color.Warning" Content="确定复位为预设1吗? (细体价格条码,半高条码,290)" />
                    <PopConfirmButton Size="Size.Small" Text="2" OnConfirm="()=>ResetConfig(2)" Color="Color.Warning" Content="确定复位为预设2吗? (粗体价格条码,半高条码,290)" />
                    <PopConfirmButton Size="Size.Small" Text="3" OnConfirm="()=>ResetConfig(3)" Color="Color.Warning" Content="确定复位为预设3吗? (粗体价格,细体条码,中心偏移往右,半宽标签,190)" />
                </div>
                <p>位置定义说明: {字体编号} {字体大小} {横向起始} {纵向起始}</p><hr />
                @*<GroupBox Title="参数">*@
                <div style="height:70vh;overflow-y:auto;overflow-x:hidden;">
                    <ValidateForm Model="@Option" style="margin: 1.5rem;">
                        <EditorForm TModel="BluetoothPrinterOption">
                            <Buttons>
                                <div class="text-end">
                                    <PopConfirmButton Icon="fa-solid fas fa-clock-rotate-left" Text="复位" OnConfirm="()=>ResetConfig()" Color="Color.Warning" Content="确定复位设置吗？" />
                                    <PopConfirmButton Icon="fa-solid fas fa-clock-rotate-left" Text="预设1" OnConfirm="()=>ResetConfig(1)" Color="Color.Warning" Content="确定复位为预设1吗？" />
                                    <PopConfirmButton Icon="fa-solid fas fa-clock-rotate-left" Text="预设2" OnConfirm="()=>ResetConfig(2)" Color="Color.Warning" Content="确定复位为预设2吗？" />
                                    <PopConfirmButton Icon="fa-solid fas fa-clock-rotate-left" Text="预设3" OnConfirm="()=>ResetConfig(3)" Color="Color.Warning" Content="确定复位为预设3吗？" />
                                </div>
                            </Buttons>
                        </EditorForm>
                    </ValidateForm>
                </div>
                @*</GroupBox>*@
            </TabItem>
        </Tab>

    </div>

    <div class="col-12 col-m-6 col-sm-6">
        @if (BleInfo.Name != null)
        {

            <div class="g-3">
                历史连接 <br />
                @BleInfo.Name <br />
                @BleInfo.DeviceID.ToString() <br />
                @BleInfo.Serviceid.ToString() <br />
                @BleInfo.Characteristic.ToString() <br />
                @ReadResult <br />
            </div>
        }
        <Switch DisplayText="自动连接" OnText="自动连接" OffText="手动连接" Value="@IsAuto" OnValueChanged="@OnStateChanged" />

        <pre style="height: 300px; overflow-y: auto; white-space: pre-wrap; word-wrap: break-word;">@Messages</pre>
    </div>
</div>